{% extends 'base/base_template.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
Student Profile
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header bg-primary text-white">
    <h4 class="mb-0 text-white">{{ student.name|default:"Not Yet Done" }}'s Profile</h4>
  </div>
  <div class="card-body row g-4 mt-5">

    <!-- Left: Picture -->
    <div class="col-md-4 text-center">
      {% if student.picture %}
        <img src="{{ student.picture.url }}" class="img-fluid rounded" alt="Profile Picture" style="max-height: 300px;">
      {% else %}
        <img src="{% static "dist/assets/img/avatars/5.png" %}" class="img-fluid rounded" alt="Default" style="max-height: 300px;">
      {% endif %}

      <div class="mt-5 shadow-lg py-1">
         <h4 class="bg-danger text-white shadow-lg">Due Months</h4>
          <ul>
            {% for year, month in due_months %}
              <li>{{ month }} / {{ year }}</li>
            {% empty %}
              <li>✅ No due</li>
            {% endfor %}
          </ul>
      </div>

      <div class="d-none d-lg-block shadow-lg mt-3">
        <h4 class="bg-success text-white shadow-lg">Paid Months</h4>
        <ul>
          {% for payment in payments %}
            <li>{{ payment.year }} - {{ payment.month }}: {{ payment.amount }} BDT</li>
          {% empty %}
            <li>No payments made yet.</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Right: Details -->
    <div class="col-md-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Name</th>
            <td>{{ student.name|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Roll Number</th>
            <td>{{ student.roll_no|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Mobile</th>
            <td>{{ student.mob_no|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ student.email|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>School</th>
            <td>{{ student.school.name|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Class</th>
            <td>{{ student.student_class.number|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>{{ student.location.nam|default:"Not Yet Done"}}</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>{{ student.date_of_birth|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>{{ student.age|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>{{ student.get_gender_display|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Marital Status</th>
            <td>{{ student.get_marital_status_display|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Blood Group</th>
            <td>{{ student.get_blood_display|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Religion</th>
            <td>{{ student.get_religion_display|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Father Name</th>
            <td>{{ student.father_name|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Father Mobile</th>
            <td>{{ student.father_mob_no|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Mother Name</th>
            <td>{{ student.mother_name|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Mother Mobile</th>
            <td>{{ student.mother_mob_no|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
             <th>Join Date</th>
            <td>{{ student.created_at.date|default:"Not Yet Done" }}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>
              {% if student.active %}
                <span class="badge bg-success">Active</span>
              {% else %}
                <span class="badge bg-danger">Inactive</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Class Status</th>
            <td>
              {% if student.student_class.active %}
                <span class="badge bg-success">Active</span>
              {% else %}
                <span class="badge bg-danger">Inactive</span>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      {% if 'update_student_self' in module_names %}
        <div class="mt-3">
          <a href="{% url 'update_student' student.id %}" class="btn btn-primary">Edit Profile</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>





<div class=" mt-5 fw-bold">
  <h4 class="mb-0 text-center">ATTENDANCE</h4>
  <hr>
</div>

<div class="mt-4">
    <form method="get" class="d-flex">
        <select name="attendance_year" id="attendance_year" class="form-select bg-white"  onchange="this.form.submit()">
            {% for y in years %}
                <option value="{{ y }}" {% if y == attendance_year %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>

        <select name="attendance_month" id="attendance_month" class="form-select bg-white"  onchange="this.form.submit()">
            {% for m, name in months %}
                <option value="{{ m }}" {% if m == attendance_month %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
    </form>
</div>

<!-- ✅ Attendance Table -->
<div class="table-responsive mt-4 shadow-sm">
  <table class="table table-bordered text-center align-middle">
    <thead>
      <tr>
        {% for day in weekday_names %}
            <th class="table-primary text-uppercase">{{ day }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for week in weeks %}
      <tr>
        {% for day in week %}
        <td 
          class="{% if day %}bg-light{% else %}bg-white{% endif %}" 
          style="cursor: {% if day %}pointer{% else %}default{% endif %};" 
          {% if day %}
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{% if day in attendance_status_by_day %}
                      {% if attendance_status_by_day|get_item:day %}
                        Present
                      {% else %}
                        Absent
                      {% endif %}
                    {% else %}
                      No Data
                    {% endif %}"
          {% endif %}
        >
          {% if day %}
            <div class="fw-semibold">{{ day }}</div>
            {% if day in attendance_status_by_day %}
              {% if attendance_status_by_day|get_item:day %}
                <span class="text-success fs-5">✅</span>
              {% else %}
                <span class="text-danger fs-5">❌</span>
              {% endif %}
            {% else %}
              <span class="text-muted">–</span>
            {% endif %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div class=" mt-5 fw-bold">
  <h4 class="mb-0 text-center">RESULT</h4>
  <hr>
</div>

{% if exam_results %}
<!-- Student Position Card -->
<div class="card shadow-lg border-0 rounded-3">
    <div class="card-body row">
        <!-- Yearly Score -->
        <p class="col-lg-2 col-md-4 col-6 d-flex flex-column text-center fs-6">
            <strong>Yearly Score</strong>
            <span class="badge fs-4 bg-info ms-2">{{ yearly_score }}</span>
        </p>
        <!-- Yearly Position -->
        <p class="col-lg-2 col-md-4 col-6 d-flex flex-column text-center fs-6">
            <strong>Yearly Position</strong>
            <span class="badge fs-4 bg-success text-white text-dark ms-2">{{ yearly_position }}</span>
        </p>
        <!-- Monthly Score -->
        <p class="col-lg-2 col-md-4 col-6 d-flex flex-column text-center fs-6">
            <strong>Monthly Score</strong>
            <span class="badge fs-4 bg-info ms-2">{{ monthly_score }}</span>
        </p>
        <!-- Monthly Position -->
        <p class="col-lg-2 col-md-4 col-6 d-flex flex-column text-center fs-6">
            <strong>Monthly Position</strong>
            <span class="badge fs-4 bg-success text-white text-dark ms-2">{{ monthly_position }}</span>
        </p>
        <!-- Last Exam Score -->
        <p class="col-lg-2 col-md-4 col-6 d-flex flex-column text-center fs-6">
            <strong>Last Exam Score</strong>
            <span class="badge fs-4 bg-info ms-2">{{ last_score }}</span>
        </p>
        <!-- Position in Class -->
        <p class="col-lg-2 col-md-4 col-6 d-flex flex-column text-center fs-6">
            <strong>Last Exam Position</strong>
            <span class="badge fs-4 bg-success text-white text-dark ms-2">{{ last_position }}</span>
        </p>
    </div>
</div>
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr class="text-nowrap">
                    <th>#</th>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Total Mark</th>
                    <th>Obtained Mark</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for item in exam_results %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.date|date:"d-M-Y"}}</td>
                    <td>{{item.subject.name}}</td>
                    <td>{{item.total_mark}}</td>
                    <td>{{item.obtained_mark}}</td>
                    <td>{{item.remarks}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="bg-black text-white fs-1 card oswald h-10 m-auto mt-5 py-5 text-center">
  No Result entries found.
</div>
{% endif %}








<!-- ✅ Enable Bootstrap Tooltips -->
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
  tooltipTriggerList.forEach(el => new bootstrap.Tooltip(el));
</script>
{% endblock content %}
