{% extends 'base/base_template.html' %}
{% load static %}

{% block title %}Teacher Profile{% endblock title %}

{% block content %}
<div class="card mb-4">
  <div class="card-header bg-primary text-white">
    <h4 class="mb-0 text-white">{{ teacher.name|default:"Not Yet Done" }}'s Profile</h4>
  </div>
  <div class="card-body row">

    <div class="col-md-4 text-center">
      {% if teacher.picture %}
        <img src="{{ teacher.picture.url }}" class="img-thumbnail mb-3" style="max-height: 250px;" alt="Teacher Photo">
      {% else %}
        <img src="{% static 'dist/assets/img/avatars/5.png' %}" class="img-thumbnail mb-3" alt="No image">
      {% endif %}
      <h5 class="mt-2">{{ teacher.name }}</h5>
    </div>

    <div class="col-md-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Name</th>
            <td>{{ teacher.name|default:"N/A" }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ teacher.email|default:"N/A" }}</td>
          </tr>
          <tr>
            <th>Mobile No</th>
            <td>{{ teacher.mob_no|default:"N/A" }}</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>{{ teacher.gender|default:"N/A" }}</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>{{ teacher.date_of_birth|date:"d M Y" }} ({{ teacher.age }} years)</td>
          </tr>
          <tr>
            <th>Marital Status</th>
            <td>{{ teacher.marital_status|default:"N/A" }}</td>
          </tr>
          <tr>
            <th>Blood Group</th>
            <td>{{ teacher.blood|upper }}</td>
          </tr>
          <tr>
            <th>Religion</th>
            <td>{{ teacher.religion|default:"N/A" }}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>{{ teacher.location.name|default:"N/A"}}</td>
          </tr>
          <tr>
            <th>Join Date</th>
            <td>{{ teacher.created_at.date|default:"N/A" }}</td>
          </tr>
          <tr>
            <th>Active</th>
            <td>
              {% if teacher.active %}
                <span class="badge bg-success">Active</span>
              {% else %}
                <span class="badge bg-danger">Inactive</span>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-3">
        <a href="{% url 'update_teacher' teacher.id %}" class="btn btn-warning">Edit Profile</a>
        <a href="{% url 'read_teacher' %}" class="btn btn-secondary">Back to List</a>
      </div>
    </div>

  </div>
</div>




<div>
    <form method="get" class="d-flex">
        <select name="year" id="year" class="form-select bg-white"  onchange="this.form.submit()">
            {% for y in years %}
                <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>

        <select name="month" id="month" class="form-select bg-white"  onchange="this.form.submit()">
            {% for m, name in months %}
                <option value="{{ m }}" {% if m == selected_month %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>

        <select name="subject" id="subject" class="form-select bg-white" onchange="this.form.submit()">
            <option value="">Subject</option>
            {% for s in subjects %}
                <option value="{{ s.id }}" {% if s.id == selected_subject %}selected{% endif %}>{{ s }}</option>
            {% endfor %}
        </select>

        <select name="student_class" id="class" class="form-select bg-white" onchange="this.form.submit()">
            <option value="">Class</option>
            {% for c in student_classes %}
                <option value="{{ c.id }}" {% if c.id == selected_class %}selected{% endif %}>Class {{ c.number }}</option>
            {% endfor %}
        </select>
    </form>
</div>

{% if teaching_assignments %}
<div class="card shadow mt-3">
    <p class="fw-bold text-center">
        Assignments <br>
        {{ total }}
    </p>
</div>
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr class="text-nowrap">
                    <th>#</th>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for item in teaching_assignments %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.date|date:"d-M-Y"}}</td>
                    <td>{{item.subject.name}}</td>
                    <td>{{item.student_class.number}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="bg-black text-white fs-1 card oswald h-10 m-auto mt-5 py-5 text-center">
  No Teaching Assignment entries found.
</div>
{% endif %}

{% endblock content %}
