{% extends 'base/base_template.html' %}

{% block title %}

{% if inactive %}
Inactive Students
{% else %}
Active Students
{% endif %}

{% endblock title %}

{% block content %}

<!-- Search Query -->
<form method="GET">
    <div class="d-flex flex-wrap mb-3 input-group">
        <input class="form-control w-50 bg-white" type="text" placeholder="name ..." id="" name="query" value="{{ query }}" >
        <select name="student_class_query" id="" class="form-select w-25 bg-white">
            <option value="">Select Class</option>
            {% for student_class in student_classes %}
            <option value="{{ student_class.id }}" {% if student_class.id == student_class_query %}selected{% endif %}>{{ student_class.number }}</option>
            {% endfor %}
        </select>
        <select name="school_query" id="" class="form-select w-25 bg-white">
            <option value="">Select School</option>
            {% for school in schools %}
            <option value="{{ school.id }}" {% if school.id == school_query %}selected{% endif %}>{{ school.name }}</option>
            {% endfor %}
        </select>
        <select name="location_query" id="" class="form-select w-25 bg-white">
            <option value="">Select Location</option>
            {% for location in locations %}
            <option value="{{ location.id }}" {% if location.id == location_query %}selected{% endif %}>{{ location.name }}</option>
            {% endfor %}
        </select>
        <select name="blood_query" id="" class="form-select w-25 bg-white">
            <option value="">Select Blood Group</option>
            {% for key,value in bloods %}
            <option value="{{ key }}" {% if key == blood_query %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <select name="marital_status_query" id="" class="form-select w-25 bg-white">
            <option value="">Select Marital Status</option>
            {% for key,value in marital_statuses %}
            <option value="{{ key }}" {% if key == marital_status_query %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <select name="religion_query" id="" class="form-select w-25 bg-white">
            <option value="">Select Religion</option>
            {% for key,value in religions %}
            <option value="{{ key }}" {% if key == religion_query %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <select name="gender_query" id="" class="form-select w-25 bg-white">
            <option value="">Select Gender</option>
            {% for key,value in genders %}
            <option value="{{ key }}" {% if key == gender_query %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary w-25"><i class="fa-solid fa-magnifying-glass"></i></button>
        <a target="_blank" href="{% url 'read_student_pdf' %}?{{query_string}}" class="btn btn-secondary w-25">
            <i class="fa-solid fa-file-pdf"></i>
        </a>
    </div>
</form>

{% if students %}
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr class="text-nowrap">
                    <th>Action</th>
                    <th>Sn</th>
                    <th>Name</th>
                    <th>Roll</th>
                    <th>Class</th>
                    <th>School</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for item in students %}
                <!-- Start Delete Modal -->
                <div class="modal fade" id="modal-delete-{{item.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title" id="modalCenterTitle">Delete {{item.name}}</h4>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to delete {{item.name}}-{{item.roll_no}}?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{% url 'delete_student' item.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Delete Modal -->
                <!-- Start Activation Modal -->
                <div class="modal fade" id="modal-activation-{{item.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title" id="modalCenterTitle">Activation {{item.name}}</h4>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to activation {{item.name}}-{{item.roll_no}}?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{% url 'activation_student' item.id %}" class="btn btn-warning">Activation</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Activation Modal -->
                <tr>
                    <th>
                        <a href="{% url "update_student" item.id %}" class="btn rounded-pill btn-icon btn-info btn-sm">
                              <span class="icon-base fa fa-edit icon-sm text-white"></span>
                        </a>
                        <button type="button" class="btn rounded-pill btn-icon btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-delete-{{item.id}}">
                           <span class="icon-base fa-regular fa-trash-can icon-sm text-white"></span>
                        </button>
                        {% if item.active %}
                        <button type="button" class="btn rounded-pill btn-icon btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modal-activation-{{item.id}}">
                           <span class="icon-base fa-solid fa-ban icon-sm text-white"></span>
                        </button>
                        {% else %}
                        <button type="button" class="btn rounded-pill btn-icon btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modal-activation-{{item.id}}">
                           <span class="icon-base fa-solid fa-check icon-sm text-white"></span>
                        </button>
                        {% endif %}
                        <a href="{% url "profile_student" item.id %}" class="btn rounded-pill btn-icon btn-primary btn-sm">
                            <span class="icon-base fa-regular fa-user icon-sm text-white"></span>
                        </a>
                    </th>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.roll_no}}</td>
                    <td>{{item.student_class.number}}</td>
                    <td>{{item.school.name}}</td>
                    <td>{{item.location.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "components/pagination.html" with page_obj=students %}

{% else %}
<div class="bg-black text-white fs-1 card oswald h-100 m-auto pt-5 text-center">
  No Class entries found.
</div>
{% endif %}


{% endblock content %}
