<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    <h2 class="oswald w-100 text-center pt-2 border-3  border-bottom">{{request.user.role.name}}</h2>

<ul class="menu-inner pb-5">
    <!-- Dashboards -->
    {% for module in user_modules %}
    {% if module.name == 'read_student_self' %}
    <li class="menu-item">
        <a
        href="{% url "profile_student" request.user.student.id %}"
        class="menu-link active">
        <i class="fa-regular fa-user menu-icon"></i>
        <div class="text-truncate" data-i18n="Profile">Profile</div>
        </a>
    </li>
    {% elif module.name == 'dashboard' %}
    <li class="menu-item">
        <a
        href="{% url "dashboard" %}"
        class="menu-link active">
        <i class="fa-solid fa-grip menu-icon"></i>
        <div class="text-truncate" data-i18n="Dashboard">Dashboard</div>
        </a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Modules</span>
    </li>

    {% if has_students %}    
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="fa-solid fa-user-graduate menu-icon"></i>
        <div class="text-truncate" data-i18n="Vehicle">Students</div>
        </a>

        <ul class="menu-sub">
            {% for i in user_modules %}
            {% if i.name == "create_student" %}
            <li class="menu-item">
                <a href="{% url "create_student" %}" class="menu-link">
                <div class="text-truncate" data-i18n="create_student">Add Student</div>
                </a>
            </li>
            {% elif i.name == "read_student" %}
            <li class="menu-item">
                <a href="{% url "read_student" %}" class="menu-link">
                <div class="text-truncate" data-i18n="read_student">Students</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url "read_inactive_student" %}" class="menu-link">
                <div class="text-truncate" data-i18n="read_student">Inactive Students</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endif %}

    {% if has_teachers %}
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="fa-solid fa-person-chalkboard menu-icon"></i>
        <div class="text-truncate" data-i18n="Vehicle">Teachers</div>
        </a>

        <ul class="menu-sub">
            {% for i in user_modules %}
            {% if i.name == "create_teacher" %}
            <li class="menu-item">
                <a href="{% url "create_teacher" %}" class="menu-link">
                <div class="text-truncate" data-i18n="create_teacher">Add Teacher</div>
                </a>
            </li>
            {% elif i.name == "read_teacher" %}
            <li class="menu-item">
                <a href="{% url "read_teacher" %}" class="menu-link">
                <div class="text-truncate" data-i18n="read_teacher">Teachers</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url "read_inactive_teacher" %}" class="menu-link">
                <div class="text-truncate" data-i18n="read_teacher">Inactive Teachers</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endif %}


    {% if has_attendance %}
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="fa-solid fa-clipboard-user menu-icon"></i>
        <div class="text-truncate" data-i18n="Vehicle">Attendance</div>
        </a>

        <ul class="menu-sub">
            {% for i in user_modules %}
            {% if i.name == "take_attendance" %}
            <li class="menu-item">
                <a href="{% url "take_attendance" %}" class="menu-link">
                <div class="text-truncate">Take Attendance</div>
                </a>
            </li>
            {% elif i.name == "attendance_report" %}
            <li class="menu-item">
                <a href="{% url "attendance_report" %}" class="menu-link">
                <div class="text-truncate">Attendance Report</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endif %}


    {% if has_exam %}
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="fa-solid fa-clipboard-user menu-icon"></i>
        <div class="text-truncate" data-i18n="Vehicle">Exam</div>
        </a>

        <ul class="menu-sub">
            {% for i in user_modules %}
            {% if i.name == "create_exam_result" %}
            <li class="menu-item">
                <a href="{% url "create_exam_result" %}" class="menu-link">
                <div class="text-truncate">Make Exam Result</div>
                </a>
            </li>
            {% elif i.name == "read_exam_result" %}
            <li class="menu-item">
                <a href="{% url "read_exam_result" %}" class="menu-link">
                <div class="text-truncate">Exam Result</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endif %}

    {% for i in user_modules %}
    {% if i.name == "read_teaching_assignment" %}
    <li class="menu-item">
        <a
            href="{% url "read_teaching_assignment" %}"
            class="menu-link active">
            <i class="fa-solid fa-flag menu-icon"></i>
            <div class="text-truncate" data-i18n="Class">Teaching Assignment</div>
        </a>
    </li>
    {% elif i.name == "read_message" %}
    <li class="menu-item">
        <a
            href="{% url "read_message" %}"
            class="menu-link active">
            <i class="fa-solid fa-message menu-icon"></i>
            <div class="text-truncate" data-i18n="Class">Message</div>
        </a>
    </li>
    {% elif i.name == "due_table" %}
    <li class="menu-item">
        <a
            href="{% url "due_table" %}"
            class="menu-link active">
            <i class="fa-solid fa-money-check-dollar menu-icon"></i>
            <div class="text-truncate" data-i18n="Class">Payment</div>
        </a>
    </li>
    {% elif i.name == "read_credit" %}
    <li class="menu-item">
        <a
            href="{% url "read_credit" %}"
            class="menu-link active">
            <i class="fa-solid fa-credit-card menu-icon"></i>
            <div class="text-truncate" data-i18n="Class">Credit</div>
        </a>
    </li>
    {% elif i.name == "read_student_class" %}
    <li class="menu-item">
        <a
            href="{% url "read_student_class" %}"
            class="menu-link active">
            <i class="fa-solid fa-layer-group menu-icon"></i>
            <div class="text-truncate" data-i18n="Class">Class</div>
        </a>
    </li>

    {% elif i.name == "read_user" %}
    <li class="menu-item">
        <a
            href="{% url "read_user" %}"
            class="menu-link active">
            <i class="fa-solid fa-users menu-icon"></i>
            <div class="text-truncate" data-i18n="Class">User</div>
        </a>
    </li>
    {% endif %}
    {% endfor %}


    <!-- Setting -->
     {% if has_setting %}
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon fa-solid fa-gears"></i>
        <div class="text-truncate" data-i18n="Setting">Setting</div>
        </a>

        <ul class="menu-sub">
            {% for i in user_modules %}
            {% if i.name == "read_school" %}
            <li class="menu-item">
                <a href="{% url "read_school" %}" class="menu-link">
                    <div class="text-truncate" data-i18n="text">School</div>
                </a>
            </li>
            {% elif i.name == "read_location" %}
            <li class="menu-item">
                <a href="{% url "read_location" %}" class="menu-link">
                    <div class="text-truncate" data-i18n="text">Location</div>
                </a>
            </li>
            {% elif i.name == "read_subject" %}
            <li class="menu-item">
                <a href="{% url "read_subject" %}" class="menu-link">
                    <div class="text-truncate" data-i18n="text">Subject</div>
                </a>
            </li>
            {% elif i.name == "change_password" %}
            <li class="menu-item">
                <a href="{% url "change_password" %}" class="menu-link">
                    <div class="text-truncate" data-i18n="text">Change Password</div>
                </a>
            </li>
            {% elif i.name == "database" %}
            <li class="menu-item">
                <a href="{% url "database" %}" class="menu-link">
                    <div class="text-truncate" data-i18n="text">Database</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
     {% endif %}
    <!-- Documentation -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Documentation</span></li>
    <li class="menu-item">
        <a
        href="{% url "documentation" %}"
        target=""
        class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div class="text-truncate" data-i18n="Documentation">Documentation</div>
        </a>
    </li>
</ul>
</aside>