{% extends 'base/base_template.html' %}

{% block title %}

Class

{% endblock title %}

{% block content %}

<div class="py-3">
    <a type="button" class="btn btn-icon btn-primary" href="{% url "create_student_class" %}">
        <i class="fa-solid fa-plus"></i>
    </a>
    <a type="button" class="btn btn-icon btn-primary" href="{% url "shift_up_student_class" %}">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
    <a type="button" class="btn btn-icon btn-primary" href="{% url "shift_down_student_class" %}">
        <i class="fa-solid fa-arrow-down"></i>
    </a>
</div>

{% if student_classes %}
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr class="text-nowrap">
                    <th>Action</th>
                    <th>Sn</th>
                    <th>Class</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for item in student_classes %}
                <!-- Start Delete Modal -->
                <div class="modal fade" id="modal-delete-{{item.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title" id="modalCenterTitle">Delete {{item.number}}</h4>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to delete {{item.number}}?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{% url 'delete_student_class' item.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Delete Modal -->
                <!-- Start Activation Modal -->
                <div class="modal fade" id="modal-activation-{{item.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title" id="modalCenterTitle">Activation {{item.number}}</h4>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to activation {{item.number}}?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{% url 'activation_student_class' item.id %}" class="btn btn-warning">Activation</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Activation Modal -->
                <tr>
                    <th>
                        <a href="{% url "update_student_class" item.id %}" class="btn rounded-pill btn-icon btn-info btn-sm">
                              <span class="icon-base fa fa-edit icon-sm text-white"></span>
                        </a>
                        <button type="button" class="btn rounded-pill btn-icon btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-delete-{{item.id}}">
                           <span class="icon-base fa-regular fa-trash-can icon-sm text-white"></span>
                        </button>
                        <button type="button" class="btn rounded-pill btn-icon btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modal-activation-{{item.id}}">
                           <span class="icon-base fa-solid fa-ban icon-sm text-white"></span>
                        </button>
                    </th>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.number}}</td>
                    <td>
                        {% if item.active %}
                            <span class="badge bg-success">Active</span>
                        {% else %}
                            <span class="badge bg-danger">Inactive</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include "components/pagination.html" with page_obj=student_classes %}
{% else %}
<div class="bg-black text-white fs-1 card oswald h-100 m-auto pt-5 text-center mt-5">
  No Class entries found.
</div>
{% endif %}


{% endblock content %}
