{% extends "base/base_template.html" %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}

<div class="card">
  <div class="card-body">
    <form method="POST" action="{% url 'change_password' %}" class="needs-validation" novalidate>
    {% csrf_token %}
        <div class="mb-3">
        <label for="old_password" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="old_password" name="old_password" required>
        </div>

        <div class="mb-3">
        <label for="new_password1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
        </div>

        <div class="mb-3">
        <label for="new_password2" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Change Password</button>
  </form>
  </div>
</div>


{% endblock content %}