{% extends 'base/base_template.html' %}

{% block title %}
Add School
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-body">
    <form class="needs-validation" novalidate action="{% url "create_school" %}" method="POST">
      {% csrf_token %}
      <!-- start row -->
      <div class="row">
        <!-- start col -->
        <div class="mb-3 col-xl-4 col-md-6">
          <label class="form-label fw-bold fs-6" for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="GGHSC" required>
          <div class="invalid-feedback">Name is required.</div>
        </div>
        <!-- end col -->
        <!-- start col -->
        <div class="mb-3 col-xl-4 col-md-6">
          <label class="form-label fw-bold fs-6" for="code">Location</label>
          <select name="location" id="location" class="form-select" required>
            <option value="">Select Location</option>
            {% for location in locations %}
              <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">Location is required.</div>
        </div>
      </div>
      <!-- end row -->


      <button type="submit" class="btn btn-primary mt-5">Add</button>
    </form> 
  </div>
</div>


{% endblock content %}