{% extends 'base/base_template.html' %}

{% block title %}

Subject

{% endblock title %}

{% block content %}

<div class="py-3">
    {% if 'create_subject' in module_names %}
    <a type="button" class="btn btn-icon btn-primary" href="{% url "create_subject" %}">
        <i class="fa-solid fa-plus"></i>
    </a>
    {% endif %}
</div>

{% if subjects %}
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-dark">
                <tr class="text-nowrap">
                    <th>Action</th>
                    <th>#</th>
                    <th>Subject</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for item in subjects %}
                <!-- Start Delete Modal -->
                <div class="modal fade" id="modal-delete-{{i.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title" id="modalCenterTitle">Delete {{item.name}}</h4>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to delete?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{% url 'delete_subject' item.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Delete Modal -->
                <tr>
                    <th>
                        {% for i in user_modules %}
                        {% if i.name == "update_subject" %}
                        <a href="{% url "update_subject" item.id %}" class="btn rounded-pill btn-icon btn-info btn-sm">
                              <span class="icon-base fa fa-edit icon-sm text-white"></span>
                        </a>
                        {% elif i.name == "delete_subject" %}
                        <button type="button" class="btn rounded-pill btn-icon btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-delete-{{i.id}}">
                           <span class="icon-base fa-regular fa-trash-can icon-sm text-white"></span>
                        </button>
                        {% endif %}
                        {% endfor %}
                    </th>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include "components/pagination.html" with page_obj=subjects %}

{% else %}
<div class="bg-black text-white fs-1 card oswald h-100 m-auto pt-5 text-center mt-5">
  No Subject entries found.
</div>
{% endif %}


{% endblock content %}
