{% extends 'base/base_template.html' %}

{% block title %}
Send Message
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-body">
    <form class="needs-validation" novalidate action="{% url "create_message" %}" method="POST">
      {% csrf_token %}
      <!-- start row -->
      <div class="row">
        <!-- start col -->
        <div class="mb-3 col-xl-4 col-md-6">
          <label class="form-label fw-bold fs-6" for="student_class">Class</label>
          <select name="student_class" id="student_class" class="form-select" required>
            <option value="">Select Class</option>
            {% for student_class in student_classes %}
              <option value="{{ student_class.id }}">{{ student_class.number }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">Class is required.</div>
        </div>
        <!-- end col -->
        <!-- start col -->
        <div class="mb-3 col-xl-8 col-md-6">
          <label class="form-label fw-bold fs-6" for="text">Message</label>
          <textarea id="smsText" oninput="countCustomSegments()" name="text" class="form-control" rows="3" required></textarea>
          <div class="invalid-feedback">Message is required.</div>
          <p id="charCount">Characters: 115, Segments: 1</p>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->


      <button type="submit" class="btn btn-primary mt-5">Send</button>
    </form> 
    {% include "messages/read_sms_counter.html" %}
  </div>
</div>


<script>
function countCustomSegments() {
    const text = document.getElementById("smsText").value;
    const count = text.length;
    let segments = 1;
    let remaining = 0;

    if (count <= 115) {
        segments = 1;
        remaining = 115 - count;
    } else {
        const extra = count - 115;
        segments = 1 + Math.ceil(extra / 160);
        const usedInLastSegment = extra % 160;
        remaining = (usedInLastSegment === 0) ? 0 : 160 - usedInLastSegment;
    }

    document.getElementById("charCount").innerText = 
        `Characters: ${remaining}, Segments: ${segments}`;
}
</script>
{% endblock content %}