<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher PDF</title>
    <style>
        th{
            text-align: start;
        }
        tr{
            border-bottom: 1px solid #000;
            padding: 2px 0 0 0;
        }
    </style>
</head>
<body>
    <h3 style="text-align: center;">Origin Academy Teachers</h3>
    <table>
        <thead>
            <tr>
                <th>Sn</th>
                <th>Name</th>
                <th>Mob No</th>
                <th>Location</th>
                <th>rmks</th>
            </tr>
        </thead>
        <tbody>
            {% for item in teachers %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{item.name|default:"N/A"}}</td>
                <td>{{item.mob_no|default:"N/A"}}</td>
                <td>{{item.location.name|default:"N/A"}}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>